@{
ViewData["Title"] = "Not Found";
ViewData["Tab"] = -1;
}

<div class="text-center">
    <h1>404 - Not Found!</h1>
    <p>Please check the link</p>

</div>

<style>
    :root {
        color-scheme: dark;
    }
    .no-display{
        display: none;
    }
    h1{
        color: #BCC2FF;
        font-size: 6em;
        margin-top: 80px;
    }
    p, span{
        color: #BCC2FF;
        font-size: 0.75em;
        font-weight: 500;
    }
</style>